*{
    margin: 0;
    padding: 0;
}

.menus-container{
    background-color: #424141;
    padding: 20px;
    padding: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo-photo{
    width: 100px;
    cursor: pointer;
}
.menus{
    color: white;
    display: flex;
    list-style: none;
    cursor: pointer; 
}
.item{
    padding: 10px;
    margin-right: 20px;
    font-size: 18px;
    padding-right: 7px;
}

.item:hover{
    color: green;
    transition: 1s;
}
.banner-container{
    height: 100vh;
    /* border: 2px solid gray; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-image: url("./Photos/background.png"),linear-gradient(45deg,rgb(8, 8, 8),rgb(53, 53, 53));
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.banner-heading{
    font-size: 50px;
    font-weight: bold;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.banner-paragraph{
    color: white;
    font-size: 18px;
    /* font-weight: bold; */
    margin-top: 20px;
    margin-bottom: 10px;
}
.btn{
    height: 40px;
    width: 120px;
    text-align: center;
    background-color: red;
    color: white;
    border: none;
    margin-top: 10px;
    border-radius: 2px;
    cursor: pointer;
}
.banner-img{
    width: 320px;
}
.about-section{
    display: flex;
    height: 280px;
    justify-content: space-around;
    align-items: center;
    /* border: 2px solid gray; */
}
.about-section-photo{
    width: 300px;
    
}
.about-heading{
    text-align: center;
    display: block;
    margin-top: 10px;
    font-size: 55px;
    font-family: 'Courier New', Courier, monospace;
}
.about-content-head{
   margin-top: -10px; 
}
.about-p{
    font-size: 20px;
    margin-top: 20px;
}
.about-btn{
    height: 40px;
    width: 140px;
    text-align: center;
    background-color: red;
    color: white;
    border: none;
    margin-top: 20px;
    border-radius: 2px;
    cursor: pointer;
}
.service-container{
    height: 550px;
    width: 100%;
    background-image: url("./Photos/background.png"),linear-gradient(45deg,rgb(8, 8, 8),rgb(53, 53, 53));
    display: flex;
    /* text-align: center; */
    margin-top: 50px;
}

.icon{
    width: 70px;
}
.box{
    width: 230px;
    height: 300px;
    box-shadow: 4px 4px 15px gray;
    background-color: #1C1C1C;
    text-align: center;
    padding: 15px;
    color: white;
    margin: 50px;
    justify-content: space-around;
    margin-left: 240px;
    margin-top: 130px;
    border-radius: 10px;
    opacity: 0.6;
    /* display: block; */
    /* display: flex; */
    position: absolute;
}
.box1{
    width: 230px;
    height: 300px;
    box-shadow: 4px 4px 15px gray;
    background-color: #1C1C1C;
    text-align: center;
    padding: 15px;
    color: white;
    margin: 50px;
    justify-content: space-around;
    margin-left: 640px;
    margin-top: 130px;
    border-radius: 10px;
    opacity: 0.6;
    /* display: block; */
    /* display: flex; */
    position: absolute;
}
.box2{
    width: 230px;
    height: 300px;
    box-shadow: 4px 4px 15px gray;
    background-color: #1C1C1C;
    text-align: center;
    padding: 15px;
    color: white;
    margin: 50px;
    justify-content: space-around;
    margin-left: 1040px;
    margin-top: 130px;
    border-radius: 10px;
    opacity: 0.6;
    /* display: block; */
    /* display: flex; */
    position: absolute;
}
.jamela{
    text-align: center;
    margin-left: 670px;
    margin-top: 40px;
    display: flex;
    font-size: 50px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* position: relative; */
}
.box-title{
    padding: 20px;
}
.box-description{
    padding: 5px;
    /* justify-content: space-between; */
}

.service-btn{
    border-radius: 7px;
    font-size: 18px;
}

.fotter-bg{
    height: 450px;
    background-color: #1a1a1a;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footer-photo{
    width: 150px;
}
.fotter-title{
    color: white;
    font-size: 18px;
}
.fotter-bg h3{
    color: white;
}
.fotter-bg li{
    list-style: none;
    margin-top: 10px;
    color: white;
}
.first-sec{
    margin-left: 150px;
    height: 250px;
}
.second-sec{
    height: 250px;
}
.third-sec{
    height: 250px;
}
.fourth-sec{
    margin-right: 200px;
    height: 250px;
}
hr{
    background-color: white;
}