*{
    margin: 0;
    padding: 0;
}

.menus-container{
    background-color: #424141;
    padding: 20px;
    padding: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo-photo{
    width: 100px;
    cursor: pointer;
}
.menus{
    color: white;
    display: flex;
    list-style: none;
    cursor: pointer; 
}
.item{
    padding: 10px;
    margin-right: 20px;
    font-size: 18px;
    padding-right: 7px;
}

.item:hover{
    color: green;
    transition: 1s;
}
.banner-container{
    height: 100vh;
    /* border: 2px solid gray; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-image: url("./Photos/background.png"),linear-gradient(45deg,rgb(8, 8, 8),rgb(53, 53, 53));
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.banner-heading{
    font-size: 50px;
    font-weight: bold;
    color: white;
}
.banner-paragraph{
    color: white;
    font-size: 18px;
    /* font-weight: bold; */
    margin-top: 10px;
    margin-bottom: 10px;
}
.btn{
    height: 40px;
    width: 120px;
    text-align: center;
    background-color: red;
    color: white;
    border: none;
    margin-top: 10px;
    border-radius: 2px;
    cursor: pointer;
}
.banner-img{
    width: 320px;
}
.about-section{
    display: flex;
    height: 370px;
    justify-content: space-around;
    align-items: center;
    border: 2px solid gray;
}
.about-section-photo{
    width: 300px;
    
}
.about-heading{
    text-align: center;
    display: block;
    margin-top: 10px;
    font-size: 55px;
}
.about-content-head{
   margin-top: -10px; 
}
.about-p{
    font-size: 20px;
    margin-top: 20px;
}
.about-btn{
    height: 40px;
    width: 140px;
    text-align: center;
    background-color: red;
    color: white;
    border: none;
    margin-top: 20px;
    border-radius: 2px;
    cursor: pointer;
}